html
{
width: 100%;
height:100%;

}

body
{
 font-family:helvetica,arial,sans,sans-serif;
 font-size:1.000em;
 width: 100%;
height:100%;
margin:0 0 0 0;

}

header
{
  position:fixed;
  z-index:2;
  width:100%;
  padding: 1rem;
  text-transform: uppercase;
  background-color: #588ba9;
  color:#ffffff;
  text-align: center;
 font-size:50px;
 letter-spacing: 10px;
}

h2
{
text-align:left;
font-size:18px;
text-transform:uppercase;
}

ul
{
    text-decoration:none;
    list-style: none;
    margin-left:-60px;
    display:inline-block;
}

li
{
  text-decoration:none;
  padding-bottom:20px;
  text-align:center;
  padding:10px;
  background-color: #c2d3dd;
  margin:10px;
}

li:hover
{
    background-color:#fff;

}

a
{
  text-decoration: none;
 color:#000000;

}

a:hover
{
  text-decoration: none;
  color:#588ba9;
}

.notizen
{
 text-align:left;
 font-size:13px;
 background-color:#efefef;
}

.map
{
  background-image: url(../img/map.png);
 width:100%;
 height:200px;
 padding:10px;
}

#tableArea
{
    padding-left:200px;
    width:83%;
}

table
{
  width:100%;
}

td 
{
  border-left:2px solid;
  border-color:#cecece;
  text-align: center;
  padding:25px;
}

tr td:first-child 
{
  border-left: solid 0px #f00;
}

.username
{
  font-size:25px;
}

.username img
{
  height:100px;
}

.c-date
{
  float:left;
  padding-top:15px;
}

.c-flag
{
float:right;
}

.c1 .c2 
{
width:25%;
}

.c3 
{
width:50%;
}


.c3 img
{
height:30%;
}

.country
{
  font-size:10px;
  text-transform:uppercase;

}

.country img
{
  margin-bottom:-5px;

}

tr 
{
 display: table-row;
}



.btnadd
{
      float: right;
      display:inline-block;
      margin: 20px 15px;
      padding-top:100px;
      z-index:1;
}

.travelform
{
  padding:35px;
  background-color: #c2d3dd;
}

#addTableContentBtn
{
    background-color:#44c767;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #18ab29;
    cursor:pointer;
    color:#ffffff;
    font-size:17px;
    padding:15px 20px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}

#addTableContentBtn:hover {
    background-color:#5cbf2a;
}

#addTableContentBtn:active {
    position:relative;
    top:1px;
}


#divmenu
{
    z-index:3;
    position: fixed;
    float: left;
    height:100%;
    color:#ffffff;
    font-size: 13px;
    text-transform: uppercase;
    background-color: #588ba9;
}

#menu
{
    width: 125px;
    padding:30px;
    padding-top:80px;
    line-height: 20px;
}




footer
{
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  float:bottom;
  padding: 1rem;
  background-color: #c2d3dd;
  text-align: center;
}

